body {
  background-color: #f2f8ff;
  color: #424242;
  font-size: 16 px;
  line-height: 1.7em;
}

nav {
  background-color: #44a7ff;
  float: left;
  position: fixed;
  width: 100%;
  font-size: 1.2em;
}

figcaption {
  font-size: 0.9em;
  line-height: 2em;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 2em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.5em;
}

.author {
  font-size: 1.2em;
  line-height: 4em;
}

.logo {
  margin: 20px;
  width: 100px;
  font-size: 1em;
}

.large-pic {
  width: 100%;
  font-size: 1em;
}

.medium-pic {
  width: 70%;
  font-size: 1em;
}

.left, .right {
  float: left;
  width: 50%;
  font-size: 1em;
}

.right {
  float: right;
  font-size: 1em;
}

a {
  color:#ffffff;
  text-decoration: none;
}

a:hover { color:#ff8800; } /* mouse over */
a:active { color:#ff4c00; } /* selected */

ul {
  list-style-type: none;
  float: right;
  font-size: 1em;

}

li {
  float: right;
  padding: 30px;
  font-size: 1em;
}

article {
  padding-top: 100px;
  font-size: 1em;
}

.container {
  margin: 0 auto;
  width: 50%;
  font-size: 1em;
}
